<footer>
    <div class = "copyright">
      &copy 2022 Your Games, inc. All Rights Reserved
    </div>

    <ul class = "right-footer">
      <a class= "nav-link"> Privacy Policy</a>
      <a class= "nav-link"> Terms of Services</a>
      <a class= "nav-link"> Code of Conduct</a>
      </ul>
</footer>