<nav class= "navigation">
    <ul>
        <a class= "nav-link"> Logo</a>
        <a class= "nav-link"> Home</a>
        <a class= "nav-link"> Work</a>
        <a class= "nav-link"> Contact</a>
        <a class= "nav-link"> About Me</a>
        <a class= "nav-link"> Sign Up</a>
        <a class= "nav-link"> Log In</a>
    </ul>
</nav>