html, body{
    background-color: #9c8462;
    margin: 0;
    padding:0;
    height: 100%;
}

img{
    height: 150px;
    width: 150px;
    cursor: grab;
}

h2{
    margin-left: 20px;
    color: #f2c225;
}
#backButton, #logoImage{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.heading{
    display: flex;
}
.com-choice, .player-choice{
    margin-bottom: 100px;
}
.container{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
}

.result-image{
    margin-top: 100px;
}

.selected{
    font-size: 10px;
}
.active{
    background-color: #fffaf3;
    border-radius: 10px;
}

.choices, .com-choices, #refresh-button{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.score{
    display: flex;
}

@media (max-width : 480px) and (max-width : 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    img{
        height: 50px;
        width: 75px;
    }
    h1{
        font-size: 12px;
    }
}
